@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  cursor: pointer;
}

/* header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 3px 5px 0 rgba(80, 78, 78, 0.945);
          box-shadow: 0 3px 5px 0 rgba(80, 78, 78, 0.945);
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 86px;
  background-color: white;
  z-index: 15;
}

.header #drawer-nav {
  display: none;
}

.header #menu {
  display: none;
}

.header__logo {
  background: url("../img/logo.png");
  width: 235px;
  padding-top: 13.6%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__nav {
  font-size: 20px;
  width: 70%;
  color: #8d8d8d;
}

.header__nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav a {
  margin-left: 35px;
}

.header__nav a:nth-last-child(1) {
  padding: 10px;
  border-radius: 200px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
  background: linear-gradient(90deg, #5dbdac, #75c17f);
}

/* main */
main {
  padding-top: 86px;
  /*headerの高さ*/
}

.footer {
  background-color: #ecefef;
  padding: 40px 0 20px;
  color: #6a6a6a;
}

.footer__copyright {
  text-align: center;
}

.footer-box {
  max-width: 600px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 20px;
  font-size: 20px;
  border-left: 1px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
}

.footer-box a {
  line-height: 40px;
}

.footer-box ul {
  list-style: none;
}

.footer-box__left {
  width: 50%;
  padding: 5px 8px;
  border-right: 1px solid #9a9a9a;
}

.footer-box__right {
  width: 50%;
  padding: 5px 8px;
}

.footer-box__copyright {
  font-size: 18px;
}

@media screen and (max-width: 1120px) {
  .header__nav {
    display: none;
  }
  .header #menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 16;
  }
  .header #menu #menu__top, .header #menu #menu__middle, .header #menu #menu__bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header #menu__top {
    top: 0;
  }
  .header #menu__middle {
    top: 14px;
  }
  .header #menu__bottom {
    bottom: 0;
  }
  .header #menu.open span:nth-of-type(1) {
    top: 14px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header #menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .header #menu.open span:nth-of-type(3) {
    top: 14px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header #drawer-nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .header #drawer-nav__box {
    position: absolute;
    max-width: 338px;
    width: 90%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .header #drawer-nav__box a:nth-last-child(1) .drawer-nav__list {
    padding: 10px;
    border-radius: 200px;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
    background: linear-gradient(90deg, #5dbdac, #75c17f);
  }
  .header .in {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .header .drawer-nav__list {
    text-align: center;
    font-size: 20px;
    color: #8d8d8d;
    margin: 18% 0;
  }
}

.application {
  height: 372px;
  background: url("../img/CTA.png");
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.application-box {
  max-width: 952px;
  width: 90%;
  text-align: center;
}

.application-box__title {
  font-size: 34px;
  color: white;
  padding-bottom: 20px;
}

.application-box__link {
  max-width: 551px;
  background-color: white;
  margin: 0 auto;
  border-radius: 100px;
  width: 90%;
  font-size: 27px;
  color: #5d5d5d;
  padding: 13px 0;
  -webkit-box-shadow: 0 0 5px #8a8a8a;
          box-shadow: 0 0 5px #8a8a8a;
}

@media screen and (max-width: 680px) {
  .footer-box {
    border: none;
    font-size: 12px;
  }
  .application {
    height: 238px;
    background: url("../img/CTA-res.png");
    background-position: bottom;
    background-size: cover;
  }
  .application-box__title {
    font-size: 21px;
  }
  .application-box__link {
    font-size: 16px;
  }
}
/*# sourceMappingURL=common.css.map */