@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  cursor: pointer;
}

/* header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 3px 5px 0 rgba(80, 78, 78, 0.945);
          box-shadow: 0 3px 5px 0 rgba(80, 78, 78, 0.945);
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 86px;
  background-color: white;
  z-index: 15;
}

.header__nav {
  font-size: 20px;
  color: #8d8d8d;
}

.header__nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav a {
  margin-left: 35px;
}

.header__nav a:nth-last-child(1) {
  padding: 10px;
  border-radius: 200px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
  background: linear-gradient(90deg, #5dbdac, #75c17f);
}

/* main */
main {
  padding-top: 86px;
  /*headerの高さ*/
}

.topview {
  height: 682px;
  background: url("../img/index/main-top-pc.png");
  background-size: cover;
  position: relative;
  color: white;
}

.topview__message {
  position: absolute;
  top: 197px;
  left: 145px;
}

.topview__message h1 {
  font-size: 43px;
}

.topview__message p {
  font-size: 20px;
}

.topview__button {
  position: absolute;
  bottom: 100px;
  right: 0;
  left: 0;
  text-align: center;
}

.topview__button a {
  width: 524px;
  padding: 20px;
  font-size: 29px;
  border-radius: 200px;
  border: 3px solid white;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
  background: linear-gradient(90deg, #5dbdac, #75c17f);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.575);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.575);
}

.notice {
  max-width: 952px;
  width: 90%;
  margin: 50px auto;
  position: relative;
  border: solid 1px #52b1b1;
  border-radius: 9px;
  padding: 50px 35px 30px;
}

.notice__title {
  position: absolute;
  top: 0;
  left: 20px;
  width: 153px;
  font-size: 26px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 5px;
  background-color: #ff8277;
  color: white;
  text-align: center;
  padding: 2px 0;
}

.notice__text--main {
  color: #55bbbb;
  font-size: 26px;
  margin-bottom: 30px;
}

.notice__text--sub {
  color: #707070;
  font-size: 20px;
  line-height: 20px;
}

.notice__text--sub p:nth-child(1) {
  margin-bottom: 30px;
}

.introduction-sentence {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  height: 346px;
  background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
  background: linear-gradient(90deg, #5dbdac, #75c17f);
}

.introduction-sentence__back {
  position: absolute;
  color: rgba(240, 248, 255, 0.315);
  top: 0;
  left: 20px;
  font-size: 175px;
  line-height: 150px;
}

.introduction-sentence__primary {
  width: 517px;
  font-size: 46px;
  color: white;
}

.introduction-sentence__primary ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  border-bottom: 346px solid #e9f6f638;
  border-left: 100px solid transparent;
}

.introduction-sentence__primary ::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
  border-bottom: 300px solid #e9f6f6;
  border-left: 90px solid transparent;
  z-index: 9;
}

.introduction-sentence__sub {
  width: 580px;
  color: #676767;
  font-size: 18px;
  z-index: 10;
}

.introduction-figure {
  max-width: 916px;
  width: 90%;
  margin: 0 auto;
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.introduction-card {
  width: 45%;
  position: relative;
  padding-bottom: 70px;
}

.introduction-card .introduction-card__image--1, .introduction-card .introduction-card__image--2, .introduction-card .introduction-card__image--3, .introduction-card .introduction-card__image--4 {
  height: 224px;
  border: double 7px #53b2b2;
  border-radius: 6px;
  padding: 13px 20px;
  position: relative;
}

.introduction-card .introduction-card__image--1 .imagebox, .introduction-card__image--1 .introduction-card .imagebox, .introduction-card .introduction-card__image--2 .imagebox, .introduction-card__image--2 .introduction-card .imagebox, .introduction-card .introduction-card__image--3 .imagebox, .introduction-card__image--3 .introduction-card .imagebox, .introduction-card .introduction-card__image--4 .imagebox, .introduction-card__image--4 .introduction-card .imagebox, .introduction-card .skill-card__img--1 .imagebox, .skill-card__img--1 .introduction-card .imagebox, .introduction-card .skill-card__img--2 .imagebox, .skill-card__img--2 .introduction-card .imagebox, .introduction-card .skill-card__img--3 .imagebox, .skill-card__img--3 .introduction-card .imagebox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 164px;
  width: 255px;
  background-size: contain;
  background-repeat: no-repeat;
}

.introduction-card__image--1 .imagebox {
  background: url("../img/index/02.png");
}

.introduction-card__image--2 .imagebox {
  background: url("../img/index/04.png");
}

.introduction-card__image--3 .imagebox {
  background: url("../img/index/05.png");
}

.introduction-card__image--4 .imagebox {
  background: url("../img/index/06.png");
}

.introduction-card__number {
  position: absolute;
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 41px;
  top: 0px;
  left: 0px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 9px;
  border-radius: 100px;
  background-color: #ff8277;
  border: 3px solid white;
  color: white;
}

.introduction-card__title {
  padding: 10px 0 5px;
  text-align: center;
  color: #55bbbb;
  font-size: 25px;
}

.introduction-card__message {
  font-size: 17;
  color: #676767;
}

.application {
  height: 372px;
  background: url("../img/CTA.png");
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.application-box {
  max-width: 952px;
  width: 90%;
  text-align: center;
}

.application-box__title {
  font-size: 34px;
  color: white;
  padding-bottom: 20px;
}

.application-box__link {
  max-width: 551px;
  background-color: white;
  margin: 0 auto;
  border-radius: 100px;
  width: 90%;
  font-size: 26px;
  color: #5d5d5d;
  padding: 13px 0;
}

.skill {
  padding-top: 40px;
}

.diagonal-title {
  height: 200px;
  width: 50%;
  max-width: 887px;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
  background: linear-gradient(90deg, #5dbdac, #75c17f);
}

.diagonal-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(99.6%);
          transform: translateX(99.6%);
  border-top: 200px solid #75c17f;
  border-right: 90px solid transparent;
}

.diagonal-title__message {
  position: absolute;
  padding-left: 20px;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.diagonal-title__message--sub {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.329);
}

.diagonal-title__message--main {
  font-size: 46px;
  color: white;
}

.skill-table {
  width: 90%;
  max-width: 1128px;
  border-collapse: collapse;
  margin: 30px auto;
}

.skill-table tr:nth-child(1) th,
.skill-table tr:nth-child(1) td {
  border: none;
}

.skill-table th {
  width: 9%;
  padding: 20px 0;
  border-top: solid 1px #29b36e;
  color: #ff8277;
  line-height: 1;
  font-size: 46px;
  vertical-align: top;
}

.skill-table__col {
  width: 18%;
  padding: 20px 0;
  font-size: 26px;
  border-top: solid 1px #55bbbb;
  color: #707070;
  vertical-align: top;
}

.skill-table__message {
  width: 63%;
  padding: 20px 0;
  font-size: 20px;
  border-top: solid 1px #55bbbb;
  color: #707070;
  vertical-align: top;
}

.skill-detail {
  background-color: #c2dbd3;
  padding: 50px 0 20px;
}

.skill-detail__title {
  text-align: center;
  margin-bottom: 45px;
  color: #676767;
  font-size: 37px;
}

.skill-detail__title::after {
  content: "";
  display: inline-block;
  border-top: solid 1px black;
  height: 1px;
  width: 70px;
}

.skill-detail__card {
  margin: 0 auto 80px;
}

.skill-card {
  max-width: 1128px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.skill-card__number {
  position: absolute;
  top: -120px;
  left: -100px;
  font-size: 142px;
  color: #52b1b1;
  z-index: 4;
}

.skill-card:nth-child(3) .skill-card__number {
  right: -100px;
  left: auto;
}

.skill-card .skill-card__img--1, .skill-card .skill-card__img--2, .skill-card .skill-card__img--3 {
  position: relative;
  width: 25%;
  background-color: white;
  padding: 6px;
  text-align: center;
  z-index: 1;
}

.skill-card .introduction-card__image--1 .imagebox, .introduction-card__image--1 .skill-card .imagebox, .skill-card .introduction-card__image--2 .imagebox, .introduction-card__image--2 .skill-card .imagebox, .skill-card .introduction-card__image--3 .imagebox, .introduction-card__image--3 .skill-card .imagebox, .skill-card .introduction-card__image--4 .imagebox, .introduction-card__image--4 .skill-card .imagebox, .skill-card .skill-card__img--1 .imagebox, .skill-card__img--1 .skill-card .imagebox, .skill-card .skill-card__img--2 .imagebox, .skill-card__img--2 .skill-card .imagebox, .skill-card .skill-card__img--3 .imagebox, .skill-card__img--3 .skill-card .imagebox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.skill-card__img--1 .imagebox {
  background: url("../img/index/07.png");
}

.skill-card__img--2 .imagebox {
  background: url("../img/index/08.png");
}

.skill-card__img--3 .imagebox {
  background: url("../img/index/09.png");
}

.skill-card__message {
  width: 68%;
}

.skill-card__message--main {
  color: #52b1b1;
  font-size: 26px;
  margin-bottom: 12px;
}

.skill-card__message--sub {
  color: #333333;
  font-size: 20px;
}

.curriculum {
  margin-top: 50px;
}

.curriculum__puls {
  color: #55bbbb;
  font-size: 73px;
  padding: 20px 0;
  text-align: center;
}

.curriculum-main {
  margin: 30px auto 0;
  padding: 20px;
  max-width: 1128px;
  width: 90%;
  background-color: #e9f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.curriculum-main__left {
  width: 49%;
}

.curriculum-main__right {
  width: 49%;
}

.flow-menu .flow-menu__row--1, .flow-menu .flow-menu__row--2, .flow-menu .flow-menu__row--3, .flow-menu .flow-menu__row--4, .flow-menu .flow-menu__row--5, .flow-menu .flow-menu__row--6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.flow-menu__row--1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 5px solid #e9f6f6;
  border-right: 48px solid #52b1b1;
  border-left: 48px solid #52b1b1;
}

.flow-menu__row--1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 5px solid #52b1b1;
  border-right: 48px solid #e9f6f6;
  border-left: 48px solid #e9f6f6;
}

.flow-menu__row--1 .flow-menu__left {
  background-color: #52b1b1;
}

.flow-menu__row--2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 5px solid #e9f6f6;
  border-right: 48px solid #50a69b;
  border-left: 48px solid #50a69b;
}

.flow-menu__row--2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 5px solid #50a69b;
  border-right: 48px solid #e9f6f6;
  border-left: 48px solid #e9f6f6;
}

.flow-menu__row--2 .flow-menu__left {
  background-color: #50a69b;
}

.flow-menu__row--3::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 5px solid #e9f6f6;
  border-right: 48px solid #5baa93;
  border-left: 48px solid #5baa93;
}

.flow-menu__row--3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 5px solid #5baa93;
  border-right: 48px solid #e9f6f6;
  border-left: 48px solid #e9f6f6;
}

.flow-menu__row--3 .flow-menu__left {
  background-color: #5baa93;
}

.flow-menu__row--4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 5px solid #e9f6f6;
  border-right: 48px solid #62ad8b;
  border-left: 48px solid #62ad8b;
}

.flow-menu__row--4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 5px solid #62ad8b;
  border-right: 48px solid #e9f6f6;
  border-left: 48px solid #e9f6f6;
}

.flow-menu__row--4 .flow-menu__left {
  background-color: #62ad8b;
}

.flow-menu__row--5::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 5px solid #e9f6f6;
  border-right: 48px solid #69b082;
  border-left: 48px solid #69b082;
}

.flow-menu__row--5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 5px solid #69b082;
  border-right: 48px solid #e9f6f6;
  border-left: 48px solid #e9f6f6;
}

.flow-menu__row--5 .flow-menu__left {
  background-color: #69b082;
}

.flow-menu__row--6::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 5px solid #e9f6f6;
  border-right: 48px solid #70b278;
  border-left: 48px solid #70b278;
}

.flow-menu__row--6::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 5px solid #70b278;
  border-right: 48px solid #e9f6f6;
  border-left: 48px solid #e9f6f6;
}

.flow-menu__row--6 .flow-menu__left {
  background-color: #70b278;
}

.flow-menu__left {
  width: 96px;
  color: white;
  font-size: 26px;
  text-align: center;
}

.flow-menu__right {
  width: 75%;
  color: #676767;
  padding-bottom: 10px;
  border-bottom: 1px solid #676767;
}

.free-example {
  background-color: white;
  padding: 9px;
}

.free-example__title {
  background-color: #55bbbb;
  color: white;
  font-size: 28px;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 30px;
}

.free-example__text {
  text-align: center;
  font-size: 17px;
  color: #707070;
}

.free-example__img {
  background: url("../img/index/10.png");
  height: 238px;
  background-size: cover;
}

.support-basic {
  max-width: calc(916px - 130px);
  width: calc(90% - 130px);
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  height: 268px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9f6f6;
}

.support-basic__left {
  width: calc(50%);
  margin-left: 30px;
  height: 168px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.support-basic__left--icon {
  background: url("../img/index/21.svg");
  background-size: cover;
  width: 60px;
  height: 60px;
}

.support-basic__left--text {
  font-size: 29px;
  color: #707070;
}

.support-basic__right {
  width: 50%;
  -webkit-transform: translateX(62%);
          transform: translateX(62%);
}

.support-basic__right--card {
  background-color: white;
  border-radius: 100px;
  height: 99px;
  position: relative;
  margin: 9px 0;
}

.support-basic__right--number {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 53px;
  height: 53px;
  background-color: #ff8277;
  border: 2px solid white;
  border-radius: 100px;
  text-align: center;
  line-height: 53px;
  color: white;
}

.support-basic__right--message {
  color: #646464;
  font-size: 20px;
  text-align: center;
  line-height: 99px;
}

.support-advanced {
  max-width: 916px;
  width: 90%;
  margin: 20px auto 40px;
  border: 4px solid #ff8277;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advanced-card {
  width: 50%;
  position: relative;
}

.advanced-card:nth-child(1) {
  border-right: 4px solid #ff8277;
}

.advanced-card__title {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  background-color: #ff8277;
  color: white;
  text-align: center;
  border-radius: 100px;
  font-size: 26px;
}

.advanced-card__message {
  width: 80%;
  margin: 40px auto;
  font-size: 20px;
  color: #707070;
}

.feature-main {
  background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
  background: linear-gradient(90deg, #5dbdac, #75c17f);
  padding: 20px 0 40px;
}

.feature-main__title {
  max-width: 416px;
  width: 40%;
  margin: 0 auto 20px;
  background-color: #ecfafa;
  border-radius: 100px;
  text-align: center;
  padding: 9px 0;
  color: #55bbbb;
  font-size: 29px;
}

.feature-main__cards {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-main-card {
  width: 31%;
}

.feature-main-card__graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 20px;
}

.feature-main-card__graph--title {
  color: white;
  font-size: 30px;
  width: 40%;
  text-align: end;
}

.feature-main-card__graph--title.title-small {
  font-size: 21px;
}

.feature-main-card__graph--title.title-small span {
  font-size: 29px;
}

.feature-main-card__graph--view {
  width: 40%;
  height: 120px;
}

.feature-main-card__graph--view .viewbox1 {
  background: url("../img/index/11.png");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.feature-main-card__graph--view .viewbox2 {
  background: url("../img/index/12.png");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.feature-main-card__graph--view .viewbox3 {
  background: url("../img/index/13.png");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.feature-main-card__message {
  height: 163px;
  background-color: #ecfafa;
  position: relative;
}

.card-message-box {
  position: absolute;
  width: 100%;
  padding: 0 5%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-message-box__main {
  color: #333333;
  font-size: 16px;
}

.card-message-box__sub {
  opacity: 0.56;
  font-size: 13px;
}

.feature-sub-graphs {
  max-width: 1128px;
  width: 90%;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-sub-graphs .feature-sub-graphs__content--1, .feature-sub-graphs .feature-sub-graphs__content--2, .feature-sub-graphs .feature-sub-graphs__content--3 {
  width: 30%;
  height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.feature-sub-graphs__content--1 {
  background: url("../img/index/16.png");
}

.feature-sub-graphs__content--2 {
  background: url("../img/index/15.png");
}

.feature-sub-graphs__content--3 {
  background: url("../img/index/14.png");
}
/*# sourceMappingURL=index.css.map */