.topview {
  height: 682px;
  background: url("../img/index/main-top-pc.png");
  background-size: cover;
  position: relative;
  color: white;
}

.topview__message {
  position: absolute;
  top: 197px;
  left: 145px;
}

.topview__message h1 {
  font-size: 43px;
}

.topview__message p {
  font-size: 20px;
}

.topview__button {
  position: absolute;
  bottom: 100px;
  right: 0;
  left: 0;
  text-align: center;
}

.topview__button a {
  width: 524px;
  padding: 20px;
  font-size: 29px;
  border-radius: 200px;
  border: 3px solid white;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
  background: linear-gradient(90deg, #5dbdac, #75c17f);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.575);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.575);
}

.notice {
  max-width: 952px;
  width: 90%;
  margin: 50px auto;
  position: relative;
  border: solid 1px #52b1b1;
  border-radius: 9px;
  padding: 50px 35px 30px;
}

.notice__title {
  position: absolute;
  top: 0;
  left: 20px;
  width: 153px;
  font-size: 26px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 5px;
  background-color: #ff8277;
  color: white;
  text-align: center;
  padding: 2px 0;
}

.notice__text--main {
  color: #55bbbb;
  font-size: 26px;
  margin-bottom: 30px;
}

.notice__text--sub {
  color: #707070;
  font-size: 20px;
  line-height: 20px;
}

.notice__text--sub p:nth-child(1) {
  margin-bottom: 30px;
}

.introduction-sentence {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  height: 346px;
  background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
  background: linear-gradient(90deg, #5dbdac, #75c17f);
}

.introduction-sentence__back {
  position: absolute;
  color: rgba(240, 248, 255, 0.315);
  top: 0;
  left: 20px;
  font-size: 175px;
  line-height: 150px;
}

.introduction-sentence__primary {
  width: 517px;
  font-size: 46px;
  color: white;
}

.introduction-sentence__primary ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  border-bottom: 346px solid #e9f6f638;
  border-left: 100px solid transparent;
}

.introduction-sentence__primary ::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
  border-bottom: 300px solid #e9f6f6;
  border-left: 90px solid transparent;
  z-index: 9;
}

.introduction-sentence__sub {
  width: 580px;
  color: #676767;
  font-size: 18px;
  z-index: 10;
}

.introduction-figure {
  max-width: 916px;
  width: 90%;
  margin: 0 auto;
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.introduction-card {
  width: 45%;
  position: relative;
  padding-bottom: 70px;
}

.introduction-card .introduction-card__image--1, .introduction-card .introduction-card__image--2, .introduction-card .introduction-card__image--3, .introduction-card .introduction-card__image--4 {
  height: 224px;
  border: double 7px #53b2b2;
  border-radius: 6px;
  padding: 13px 20px;
  position: relative;
}

.introduction-card .introduction-card__image--1 .imagebox, .introduction-card__image--1 .introduction-card .imagebox, .introduction-card .introduction-card__image--2 .imagebox, .introduction-card__image--2 .introduction-card .imagebox, .introduction-card .introduction-card__image--3 .imagebox, .introduction-card__image--3 .introduction-card .imagebox, .introduction-card .introduction-card__image--4 .imagebox, .introduction-card__image--4 .introduction-card .imagebox, .introduction-card .skill-card__img--1 .imagebox, .skill-card__img--1 .introduction-card .imagebox, .introduction-card .skill-card__img--2 .imagebox, .skill-card__img--2 .introduction-card .imagebox, .introduction-card .skill-card__img--3 .imagebox, .skill-card__img--3 .introduction-card .imagebox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 164px;
  width: 255px;
  background-size: contain;
  background-repeat: no-repeat;
}

.introduction-card__image--1 .imagebox {
  background: url("../img/index/02.png");
}

.introduction-card__image--2 .imagebox {
  background: url("../img/index/04.png");
}

.introduction-card__image--3 .imagebox {
  background: url("../img/index/05.png");
}

.introduction-card__image--4 .imagebox {
  background: url("../img/index/06.png");
}

.introduction-card__number {
  position: absolute;
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 41px;
  font-size: 25px;
  top: 0px;
  left: 0px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 9px;
  border-radius: 100px;
  background-color: #ff8277;
  border: 3px solid white;
  color: white;
}

.introduction-card__title {
  padding: 27px 0 9px;
  text-align: center;
  color: #55bbbb;
  font-size: 25px;
  line-height: 40px;
}

.introduction-card__message {
  font-size: 17;
  color: #676767;
}

.skill {
  padding-top: 40px;
}

.diagonal-title {
  height: 200px;
  width: 80%;
  max-width: 887px;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
  background: linear-gradient(90deg, #5dbdac, #75c17f);
}

.diagonal-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(99.2%);
          transform: translateX(99.2%);
  border-top: 200px solid #75c17f;
  border-right: 90px solid transparent;
}

.diagonal-title__message {
  position: absolute;
  padding-left: 20px;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.diagonal-title__message--sub {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.329);
}

.diagonal-title__message--main {
  font-size: 46px;
  color: white;
}

.skill-table {
  width: 90%;
  max-width: 1128px;
  margin: 50px auto;
}

.skill-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.skill-table-row:nth-child(-n + 2) {
  border-bottom: solid 1px #55bbbb;
}

.skill-table-row__number {
  width: 9%;
  color: #ff8277;
  line-height: 1;
  font-size: 46px;
}

.skill-table-row__title {
  width: 18%;
  font-size: 26px;
  color: #707070;
}

.skill-table-row__message {
  width: 68%;
  font-size: 20px;
  color: #707070;
}

.skill-detail {
  background-color: #c2dbd3;
  padding: 50px 0 20px;
}

.skill-detail__title {
  text-align: center;
  margin-bottom: 45px;
  color: #676767;
  font-size: 37px;
}

.skill-detail__title::after {
  content: "";
  display: inline-block;
  border-top: solid 1px black;
  height: 1px;
  width: 70px;
}

.skill-detail__card {
  margin: 0 auto 80px;
}

.skill-card {
  max-width: 1128px;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.skill-card__number {
  position: absolute;
  top: -120px;
  left: -100px;
  font-size: 142px;
  color: #52b1b1;
  z-index: 4;
  opacity: 0.4;
}

.skill-card:nth-child(3) .skill-card__number {
  right: -100px;
  left: auto;
}

.skill-card .skill-card__img--1, .skill-card .skill-card__img--2, .skill-card .skill-card__img--3, .skill-card .card__img--1, .skill-card .card__img--2, .skill-card .card__img--3 {
  position: relative;
  width: 25%;
  background-color: white;
  padding: 6px;
  text-align: center;
  z-index: 1;
}

.skill-card .introduction-card__image--1 .imagebox, .introduction-card__image--1 .skill-card .imagebox, .skill-card .introduction-card__image--2 .imagebox, .introduction-card__image--2 .skill-card .imagebox, .skill-card .introduction-card__image--3 .imagebox, .introduction-card__image--3 .skill-card .imagebox, .skill-card .introduction-card__image--4 .imagebox, .introduction-card__image--4 .skill-card .imagebox, .skill-card .skill-card__img--1 .imagebox, .skill-card__img--1 .skill-card .imagebox, .skill-card .skill-card__img--2 .imagebox, .skill-card__img--2 .skill-card .imagebox, .skill-card .skill-card__img--3 .imagebox, .skill-card__img--3 .skill-card .imagebox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 150px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.skill-card__img--1 .imagebox {
  background: url("../img/index/07.png");
}

.skill-card__img--2 .imagebox {
  background: url("../img/index/08.png");
}

.skill-card__img--3 .imagebox {
  background: url("../img/index/09.png");
}

.skill-card__message {
  width: 68%;
}

.skill-card__message--main {
  color: #52b1b1;
  font-size: 26px;
  margin-bottom: 12px;
}

.skill-card__message--sub {
  color: #333333;
  font-size: 20px;
}

.curriculum {
  margin-top: 50px;
}

.curriculum__puls {
  color: #55bbbb;
  font-size: 73px;
  padding: 20px 0;
  text-align: center;
}

.curriculum-main {
  margin: 30px auto 0;
  padding: 20px;
  max-width: 1128px;
  width: 90%;
  background-color: #e9f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.curriculum-main__left {
  width: 49%;
}

.curriculum-main__right {
  width: 49%;
}

.flow-menu .flow-menu__row--1, .flow-menu .flow-menu__row--2, .flow-menu .flow-menu__row--3, .flow-menu .flow-menu__row--4, .flow-menu .flow-menu__row--5, .flow-menu .flow-menu__row--6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
}

.flow-menu .flow-menu__row--1::before, .flow-menu .flow-menu__row--2::before, .flow-menu .flow-menu__row--3::before, .flow-menu .flow-menu__row--4::before, .flow-menu .flow-menu__row--5::before, .flow-menu .flow-menu__row--6::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 8px solid #e9f6f6;
}

.flow-menu .flow-menu__row--1::after, .flow-menu .flow-menu__row--2::after, .flow-menu .flow-menu__row--3::after, .flow-menu .flow-menu__row--4::after, .flow-menu .flow-menu__row--5::after, .flow-menu .flow-menu__row--6::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-right: 48px solid #e9f6f6;
  border-left: 48px solid #e9f6f6;
}

.flow-menu__row--1::before {
  border-right: 48px solid #52b1b1;
  border-left: 48px solid #52b1b1;
}

.flow-menu__row--1::after {
  border-top: 8px solid #52b1b1;
}

.flow-menu__row--1 .flow-menu__left {
  background-color: #52b1b1;
}

.flow-menu__row--2::before {
  border-right: 48px solid #50a69b;
  border-left: 48px solid #50a69b;
}

.flow-menu__row--2::after {
  border-top: 8px solid #50a69b;
}

.flow-menu__row--2 .flow-menu__left {
  background-color: #50a69b;
}

.flow-menu__row--3::before {
  border-right: 48px solid #5baa93;
  border-left: 48px solid #5baa93;
}

.flow-menu__row--3::after {
  border-top: 8px solid #5baa93;
}

.flow-menu__row--3 .flow-menu__left {
  background-color: #5baa93;
}

.flow-menu__row--4::before {
  border-right: 48px solid #62ad8b;
  border-left: 48px solid #62ad8b;
}

.flow-menu__row--4::after {
  border-top: 8px solid #62ad8b;
}

.flow-menu__row--4 .flow-menu__left {
  background-color: #62ad8b;
}

.flow-menu__row--5::before {
  border-right: 48px solid #69b082;
  border-left: 48px solid #69b082;
}

.flow-menu__row--5::after {
  border-top: 8px solid #69b082;
}

.flow-menu__row--5 .flow-menu__left {
  background-color: #69b082;
}

.flow-menu__row--6::before {
  border-right: 48px solid #70b278;
  border-left: 48px solid #70b278;
}

.flow-menu__row--6::after {
  border-top: 8px solid #70b278;
}

.flow-menu__row--6 .flow-menu__left {
  background-color: #70b278;
}

.flow-menu__left {
  width: 96px;
  color: white;
  font-size: 26px;
  text-align: center;
  padding: 8px 0;
}

.flow-menu__right {
  width: 75%;
  color: #676767;
  font-size: 26px;
  padding-bottom: 10px;
  border-bottom: 1px solid #676767;
}

.free-example {
  background-color: white;
  padding: 9px;
}

.free-example__title {
  background-color: #55bbbb;
  color: white;
  font-size: 28px;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 30px;
}

.free-example__text {
  text-align: center;
  font-size: 17px;
  color: #707070;
}

.free-example__img {
  background: url("../img/index/10.png");
  height: 238px;
  background-size: cover;
}

.support-basic {
  max-width: calc(916px - 130px);
  width: calc(90% - 130px);
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  height: 268px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9f6f6;
}

.support-basic__left {
  width: calc(50%);
  margin-left: 30px;
  height: 168px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 0 3px 3px #aad4d4;
          box-shadow: 0 0 3px 3px #aad4d4;
  border-radius: 4px;
}

.support-basic__left--icon {
  background: url("../img/index/21.svg");
  background-size: cover;
  width: 60px;
  height: 60px;
}

.support-basic__left--text {
  font-size: 29px;
  color: #707070;
}

.support-basic__right {
  width: 50%;
  -webkit-transform: translateX(62%);
          transform: translateX(62%);
}

.support-basic__right--card {
  background-color: white;
  border-radius: 100px;
  height: 99px;
  position: relative;
  margin: 9px 0;
  -webkit-box-shadow: 0 0 3px 3px #aad4d4;
          box-shadow: 0 0 3px 3px #aad4d4;
}

.support-basic__right--number {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 53px;
  height: 53px;
  background-color: #ff8277;
  border: 2px solid white;
  border-radius: 100px;
  text-align: center;
  line-height: 53px;
  color: white;
}

.support-basic__right--message {
  color: #646464;
  font-size: 20px;
  text-align: center;
  line-height: 99px;
}

.support-advanced {
  max-width: 916px;
  width: 90%;
  margin: 20px auto 40px;
  border: 4px solid #ff8277;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advanced-card {
  width: 50%;
  position: relative;
}

.advanced-card:nth-child(1) {
  border-right: 4px solid #ff8277;
}

.advanced-card__title {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  background-color: #ff8277;
  color: white;
  text-align: center;
  border-radius: 100px;
  font-size: 26px;
}

.advanced-card__message {
  width: 80%;
  margin: 40px auto;
  font-size: 20px;
  color: #707070;
}

.feature-main {
  background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
  background: linear-gradient(90deg, #5dbdac, #75c17f);
  padding: 20px 0 40px;
}

.feature-main__title {
  max-width: 416px;
  width: 80%;
  margin: 0 auto 20px;
  background-color: #ecfafa;
  border-radius: 100px;
  text-align: center;
  padding: 9px 0;
  color: #55bbbb;
  font-size: 29px;
}

.feature-main__cards {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-main-card {
  width: 31%;
}

.feature-main-card__graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 20px;
}

.feature-main-card__graph--title {
  color: white;
  font-size: 30px;
  width: 40%;
  text-align: end;
}

.feature-main-card__graph--title.title-small {
  font-size: 21px;
}

.feature-main-card__graph--title.title-small span {
  font-size: 29px;
}

.feature-main-card__graph--view {
  width: 40%;
  height: 120px;
}

.feature-main-card__graph--view .viewbox1 {
  background: url("../img/index/11.png");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.feature-main-card__graph--view .viewbox2 {
  background: url("../img/index/12.png");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.feature-main-card__graph--view .viewbox3 {
  background: url("../img/index/13.png");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.feature-main-card__message {
  height: 163px;
  background-color: #ecfafa;
  position: relative;
}

.card-message-box {
  position: absolute;
  width: 100%;
  padding: 0 5%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-message-box__main {
  color: #333333;
  font-size: 16px;
}

.card-message-box__sub {
  opacity: 0.56;
  font-size: 13px;
}

.feature-sub-graphs {
  max-width: 1128px;
  width: 90%;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-sub-graphs .feature-sub-graphs__content--1, .feature-sub-graphs .feature-sub-graphs__content--2, .feature-sub-graphs .feature-sub-graphs__content--3 {
  width: 30%;
  height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.feature-sub-graphs__content--1 {
  background: url("../img/index/16.png");
}

.feature-sub-graphs__content--2 {
  background: url("../img/index/15.png");
}

.feature-sub-graphs__content--3 {
  background: url("../img/index/14.png");
}

.graduates {
  padding: 100px 0 30px;
  position: relative;
}

.graduates__title {
  text-align: center;
  font-size: 35px;
  color: #707070;
  margin-bottom: 20px;
}

.graduates__title::after {
  content: "";
  display: block;
  margin: 22px auto 15px;
  width: 80px;
  border-top: 3px solid #707070;
}

.graduates__back {
  position: absolute;
  width: calc(100% + 40px);
  font-size: 158px;
  white-space: nowrap;
  overflow: hidden;
  color: #bbe4e4;
  top: 70px;
  left: -40px;
  z-index: -1;
}

.graduates__link {
  width: 240px;
  text-align: center;
  position: relative;
  margin: 20px auto;
  padding: 9px 0;
  background-color: #ecfafa;
  color: #55bbbb;
  border: 2px solid #55bbbb;
  border-radius: 100px;
  font-size: 21px;
}

.graduates__link--arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.voice-box {
  max-width: 1300px;
  width: 97%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
}

.voice-box__card {
  width: 31%;
  margin: 5px;
}

.card {
  padding: 10px;
  border: 2px solid #55bbbb;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 1;
}

.card .skill-card__img--1, .card .skill-card__img--2, .card .skill-card__img--3, .card .card__img--1, .card .card__img--2, .card .card__img--3 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

.card__img--1 {
  background: url("../img/index/17.png");
}

.card__img--2 {
  background: url("../img/index/18.png");
}

.card__img--3 {
  background: url("../img/index/19.png");
}

.card__message {
  padding-top: 9px;
  font-size: 21px;
  color: #707070;
}

.charge-main-block-pc {
  background-color: #ecfafa;
  padding-top: 20px;
}

.charge-main-block-res {
  display: none;
}

.charge-main {
  position: relative;
  width: 90%;
  max-width: 916px;
  margin: 0 auto;
  padding: 50px 0 30px;
}

.charge-main__title {
  text-align: center;
  margin-bottom: 50px;
}

.charge-main__title--main {
  color: #55bbbb;
  font-size: 44px;
  padding: 6px 0;
}

.charge-main__title--sub {
  position: absolute;
  color: #5d5d5d;
  top: 0;
  left: 0;
  font-size: 35px;
  padding: 6px 0 17px;
}

.charge-main__title--icon {
  color: white;
  font-size: 42px;
  display: inline-block;
  width: 61px;
  height: 61px;
  background-color: #ff8277;
  border-radius: 100px;
  margin-right: 20px;
}

.charge-main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.charge-main__attention {
  padding-top: 9px;
  font-size: 12px;
}

.charge-main-box--small {
  position: relative;
  padding: 30px 7px 8px;
  width: 20%;
  margin: 0 2px;
}

.charge-main-box--big {
  position: relative;
  padding: 30px 7px 8px;
  width: 38%;
  background-color: white;
  margin: 0 2px;
}

.charge-main-box__title {
  position: absolute;
  top: 0;
  left: 50%;
  width: 80%;
  padding: 10px 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 4px;
  font-size: 32px;
  color: white;
  background-color: #55bbbb;
}

.charge-main-box__item {
  padding: 10px 0;
  font-size: 21px;
  height: 71px;
  line-height: 51px;
}

.charge-main-box__item span {
  font-size: 31px;
}

.charge-main-box__item:nth-last-child(2n + 1) {
  background-color: #ecfafa;
}

.guarantee-block {
  padding: 90px 0;
  position: relative;
}

.guarantee-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 200px solid #ff8844;
  border-right: 70px solid transparent;
}

.guarantee-block::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 200px solid #fad723;
  border-left: 70px solid transparent;
}

.guarantee {
  margin: 0 auto;
  max-width: 1128px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.guarantee__circle {
  width: 221px;
  height: 221px;
  position: relative;
  text-align: center;
  background: linear-gradient(135deg, #ff8844, #f9dc20);
  border-radius: 221px;
  font-size: 27px;
}

.guarantee__circle p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
  line-height: 50px;
}

.guarantee__circle--big {
  font-size: 52px;
}

.guarantee__circle--big span {
  font-size: 72px;
}

.guarantee__message {
  width: 70%;
  padding: 0 30px;
}

.guarantee__message--title {
  color: #ff8844;
  font-size: 36px;
  padding-bottom: 20px;
}

.guarantee__message--subtitle {
  color: #676767;
  font-size: 26px;
  padding-bottom: 20px;
}

.guarantee__message--content {
  color: #676767;
  font-size: 22px;
}

.charge-reason {
  background: url("../img/index/20.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 512px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  z-index: -2;
}

.charge-reason__back {
  position: absolute;
  height: 100%;
  width: 65%;
  right: 0;
  top: 0;
  background-color: #ecfafa;
  z-index: -1;
}

.charge-reason::after {
  content: "";
  position: absolute;
  top: 0;
  right: 64.9%;
  border-bottom: 512px solid #ecfafa;
  border-left: 110px solid transparent;
}

.reason-message {
  width: 45%;
  margin-right: 5%;
}

.reason-message__title {
  font-size: 34px;
  color: #5d5d5d;
}

.reason-message__sub {
  font-size: 22px;
  color: #676767;
  padding: 30px 0;
}

.reason-message__text {
  font-size: 20px;
  color: #676767;
}

.message {
  width: 90%;
  max-width: 1128px;
  margin: 60px auto;
}

.message__title {
  font-size: 32px;
  color: #707070;
  text-align: center;
}

.message__title::after {
  content: "";
  display: block;
  margin: 22px auto 15px;
  width: 80px;
  border-top: 3px solid #707070;
}

.message__charge--link {
  width: 240px;
  text-align: center;
  position: relative;
  margin: 20px auto;
  padding: 9px 0;
  background-color: #ecfafa;
  color: #55bbbb;
  border: 2px solid #55bbbb;
  border-radius: 100px;
  font-size: 21px;
}

.message__charge--arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.message-box {
  padding: 24px;
  -webkit-box-shadow: 0 0 3px 3px #999999;
          box-shadow: 0 0 3px 3px #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.message-box__left {
  font-size: 20px;
}

.message-box__left--big {
  color: #676767;
  margin-bottom: 5px;
}

.message-box__left--small {
  color: #707070;
}

.message-box__right {
  font-size: 75px;
  padding-left: 30px;
  line-height: 1;
  color: #707070;
}

.question {
  margin: 50px 0 40px;
}

.question__link {
  width: 240px;
  text-align: center;
  position: relative;
  margin: 20px auto;
  padding: 9px 0;
  background-color: #ecfafa;
  color: #55bbbb;
  border: 2px solid #55bbbb;
  border-radius: 100px;
  font-size: 21px;
}

.question__link--arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.question-box {
  max-width: 916px;
  width: 90%;
  margin: 0 auto;
}

.question-box__title {
  padding: 9px 0;
}

.question-box__content {
  margin: 12px 0;
}

.title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-box__icon {
  background-color: #ff8277;
  color: white;
  width: 63px;
  height: 63px;
  border-radius: 63px;
  line-height: 63px;
  text-align: center;
  margin-right: 10px;
  font-size: 42px;
}

.title-box__text {
  font-size: 36px;
  color: #707070;
}

.question-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 79px;
  background-color: #ecfafa;
}

.question-content__logo {
  font-size: 40px;
  color: #55bbbb;
  margin: 0 10px;
}

.question-content__text {
  font-size: 28px;
  color: #676767;
}

.answer-content {
  padding: 10px 30px;
  font-size: 25px;
  color: #676767;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s, height 0.7s ease-out;
  transition: opacity 0.2s, height 0.7s ease-out;
}

.answer-content.open {
  opacity: 1;
  height: 150px;
  -webkit-transition: opacity 0.7s, height 0.7s;
  transition: opacity 0.7s, height 0.7s;
}

.news {
  max-width: 1128px;
  width: 90%;
  margin: 40px auto;
}

.news__title {
  font-size: 35px;
  color: #707070;
  margin-bottom: 30px;
}

.news__content {
  padding: 15px;
  border: 2px solid #55bbbb;
}

.news-content-list {
  background-color: #f5f5f5;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  margin-bottom: 9px;
}

.news-content-list__day {
  margin-right: 20px;
  font-size: 22px;
  color: #676767;
}

.news-content-list__icon {
  background-color: #55bbbb;
  color: white;
  font-size: 18px;
  margin-right: 7%;
  padding: 5px 9px;
}

.news-content-list__text {
  color: #676767;
  font-size: 22px;
}

@media screen and (max-width: 680px) {
  .topview {
    height: 700px;
    background: url("../img/index/main-top-res.png");
    background-size: cover;
  }
  .topview__message {
    position: absolute;
    left: 50%;
    top: auto;
    bottom: 145px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 85%;
  }
  .topview__message h1 {
    font-size: 27px;
  }
  .topview__message p {
    font-size: 15px;
  }
  .topview__button {
    position: absolute;
    bottom: 60px;
    right: 0;
    left: 0;
    text-align: center;
  }
  .topview__button a {
    padding: 20px;
    font-size: 18px;
    border-radius: 200px;
    border: 3px solid white;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
    background: linear-gradient(90deg, #5dbdac, #75c17f);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.575);
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.575);
  }
  .notice {
    padding: 50px 17px 30px;
  }
  .notice__title {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .notice__text--main {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  .notice__text--sub {
    font-size: 15px;
    line-height: 15px;
  }
  .notice__text--sub p:nth-child(1) {
    margin-bottom: 30px;
  }
  .introduction-sentence {
    display: block;
    padding-top: 55px;
    height: auto;
    background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#75c17f));
    background: linear-gradient(90deg, #5dbdac, #75c17f);
  }
  .introduction-sentence__back {
    left: 0px;
    font-size: 80px;
    line-height: 70px;
  }
  .introduction-sentence__primary {
    width: 85%;
    margin: 0 auto;
    font-size: 23px;
    color: white;
    padding-bottom: 20px;
  }
  .introduction-sentence__primary ::after {
    display: none;
  }
  .introduction-sentence__primary ::before {
    display: none;
  }
  .introduction-sentence__sub {
    width: auto;
    padding: 24px 21px 30px;
    background-color: #e9f6f6;
    color: #676767;
    font-size: 15px;
    z-index: 10;
  }
  .introduction-card {
    width: 100%;
    position: relative;
    padding-bottom: 70px;
  }
  .introduction-card__number {
    width: 61px;
    height: 61px;
    font-size: 23px;
    left: 50%;
  }
  .introduction-card__title {
    font-size: 23px;
  }
  .introduction-card__message {
    font-size: 15px;
    color: #676767;
  }
  .diagonal-title {
    height: 81px;
  }
  .diagonal-title::after {
    -webkit-transform: translateX(98.6%);
            transform: translateX(98.6%);
    border-top: 81px solid #75c17f;
    border-right: 60px solid transparent;
  }
  .diagonal-title__message--sub {
    font-size: 14px;
  }
  .diagonal-title__message--main {
    font-size: 23px;
  }
  .skill-table {
    margin: 20px auto 50px;
  }
  .skill-table-row {
    display: block;
  }
  .skill-table-row:nth-child(-n + 2) {
    border-bottom: none;
  }
  .skill-table-row__number {
    display: none;
  }
  .skill-table-row__title {
    width: auto;
    font-size: 23px;
    color: #707070;
  }
  .skill-table-row__message {
    width: auto;
    font-size: 15px;
    color: #707070;
  }
  .skill-detail__title {
    margin-bottom: 20px;
    font-size: 23px;
  }
  .skill-detail__card {
    margin: 0 auto 30px;
  }
  .skill-card {
    width: 90%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .skill-card__number {
    top: 0;
    left: 0;
    font-size: 35px;
  }
  .skill-card:nth-child(3) .skill-card__number {
    top: 0;
    left: 0;
    right: auto;
    font-size: 35px;
  }
  .skill-card .skill-card__img--1, .skill-card .skill-card__img--2, .skill-card .skill-card__img--3, .skill-card .card__img--1, .skill-card .card__img--2, .skill-card .card__img--3 {
    position: relative;
    width: 100%;
    height: 231px;
    background-color: white;
    padding: 6px;
    text-align: center;
    z-index: 1;
  }
  .skill-card .introduction-card__image--1 .imagebox, .introduction-card__image--1 .skill-card .imagebox, .skill-card .introduction-card__image--2 .imagebox, .introduction-card__image--2 .skill-card .imagebox, .skill-card .introduction-card__image--3 .imagebox, .introduction-card__image--3 .skill-card .imagebox, .skill-card .introduction-card__image--4 .imagebox, .introduction-card__image--4 .skill-card .imagebox, .skill-card .skill-card__img--1 .imagebox, .skill-card__img--1 .skill-card .imagebox, .skill-card .skill-card__img--2 .imagebox, .skill-card__img--2 .skill-card .imagebox, .skill-card .skill-card__img--3 .imagebox, .skill-card__img--3 .skill-card .imagebox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 210px;
  }
  .skill-card__message {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .skill-card__message--main {
    font-size: 20px;
    margin: 15px auto;
  }
  .skill-card__message--sub {
    font-size: 15px;
  }
  .curriculum__puls {
    font-size: 50px;
  }
  .curriculum-main {
    display: block;
  }
  .curriculum-main__left {
    width: 85%;
    margin: 0 auto 30px;
  }
  .curriculum-main__right {
    width: 100%;
  }
  .flow-menu .flow-menu__row--1, .flow-menu .flow-menu__row--2, .flow-menu .flow-menu__row--3, .flow-menu .flow-menu__row--4, .flow-menu .flow-menu__row--5, .flow-menu .flow-menu__row--6 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 3px 0 10px;
  }
  .flow-menu .flow-menu__row--1::before, .flow-menu .flow-menu__row--2::before, .flow-menu .flow-menu__row--3::before, .flow-menu .flow-menu__row--4::before, .flow-menu .flow-menu__row--5::before, .flow-menu .flow-menu__row--6::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-top: 8px solid #e9f6f6;
  }
  .flow-menu .flow-menu__row--1::after, .flow-menu .flow-menu__row--2::after, .flow-menu .flow-menu__row--3::after, .flow-menu .flow-menu__row--4::after, .flow-menu .flow-menu__row--5::after, .flow-menu .flow-menu__row--6::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-right: 28px solid #e9f6f6;
    border-left: 28px solid #e9f6f6;
  }
  .flow-menu__row--1::before {
    border-right: 28px solid #52b1b1;
    border-left: 28px solid #52b1b1;
  }
  .flow-menu__row--1::after {
    border-top: 8px solid #52b1b1;
  }
  .flow-menu__row--1 .flow-menu__left {
    background-color: #52b1b1;
  }
  .flow-menu__row--2::before {
    border-right: 28px solid #50a69b;
    border-left: 28px solid #50a69b;
  }
  .flow-menu__row--2::after {
    border-top: 8px solid #50a69b;
  }
  .flow-menu__row--2 .flow-menu__left {
    background-color: #50a69b;
  }
  .flow-menu__row--3::before {
    border-right: 28px solid #5baa93;
    border-left: 28px solid #5baa93;
  }
  .flow-menu__row--3::after {
    border-top: 8px solid #5baa93;
  }
  .flow-menu__row--3 .flow-menu__left {
    background-color: #5baa93;
  }
  .flow-menu__row--4::before {
    border-right: 28px solid #62ad8b;
    border-left: 28px solid #62ad8b;
  }
  .flow-menu__row--4::after {
    border-top: 8px solid #62ad8b;
  }
  .flow-menu__row--4 .flow-menu__left {
    background-color: #62ad8b;
  }
  .flow-menu__row--5::before {
    border-right: 28px solid #69b082;
    border-left: 28px solid #69b082;
  }
  .flow-menu__row--5::after {
    border-top: 8px solid #69b082;
  }
  .flow-menu__row--5 .flow-menu__left {
    background-color: #69b082;
  }
  .flow-menu__row--6::before {
    border-right: 28px solid #70b278;
    border-left: 28px solid #70b278;
  }
  .flow-menu__row--6::after {
    border-top: 8px solid #70b278;
  }
  .flow-menu__row--6 .flow-menu__left {
    background-color: #70b278;
  }
  .flow-menu__left {
    width: 56px;
    font-size: 14px;
  }
  .flow-menu__right {
    width: calc(100% - 76px);
    font-size: 14px;
    padding-bottom: 10px;
  }
  .free-example {
    padding: 12px;
  }
  .free-example__title {
    font-size: 18px;
  }
  .support-basic {
    width: 92%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    height: 318px;
    margin: 70px auto 0;
    display: block;
  }
  .support-basic__left {
    width: 90%;
    margin-left: 0;
    margin: 0 auto;
    height: 131px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .support-basic__left--icon {
    width: 54px;
    height: 54px;
  }
  .support-basic__left--text {
    font-size: 22px;
  }
  .support-basic__right {
    width: 73%;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    margin: 0 auto;
  }
  .support-basic__right--card {
    background-color: white;
    border-radius: 100px;
    height: 73px;
    position: relative;
    margin: 9px auto;
  }
  .support-basic__right--number {
    width: 39px;
    height: 39px;
    line-height: 39px;
  }
  .support-basic__right--message {
    font-size: 16px;
    line-height: 73px;
  }
  .support-advanced {
    margin: 20px auto 40px;
    border: none;
    display: block;
  }
  .advanced-card {
    width: 100%;
    margin: 30px 0;
    border: 4px solid #ff8277;
  }
  .advanced-card:nth-child(1) {
    border-right: 4px solid #ff8277;
  }
  .advanced-card__title {
    padding: 10px 0;
    font-size: 20px;
  }
  .advanced-card__message {
    font-size: 15px;
  }
  .feature-main {
    background: -webkit-gradient(linear, left top, right top, from(#5dbdac), to(#5dbdac));
    background: linear-gradient(90deg, #5dbdac, #5dbdac);
    padding: 20px 0 40px;
  }
  .feature-main__title {
    font-size: 25px;
  }
  .feature-main__cards {
    display: block;
  }
  .feature-main-card {
    width: 100%;
    margin-bottom: 20px;
  }
  .feature-main-card__graph {
    padding-bottom: 5px;
  }
  .feature-main-card__graph--title {
    color: white;
    font-size: 29px;
    text-align: start;
  }
  .feature-main-card__graph--title.title-small {
    font-size: 21px;
  }
  .feature-main-card__graph--title.title-small span {
    font-size: 27px;
  }
  .feature-main-card__message {
    height: 163px;
    background-color: #ecfafa;
    position: relative;
  }
  .card-message-box__main {
    font-size: 15px;
  }
  .card-message-box__sub {
    font-size: 13px;
  }
  .feature-sub-graphs {
    display: block;
  }
  .feature-sub-graphs .feature-sub-graphs__content--1, .feature-sub-graphs .feature-sub-graphs__content--2, .feature-sub-graphs .feature-sub-graphs__content--3 {
    width: 100%;
    margin-bottom: 20px;
  }
  .graduates {
    position: relative;
  }
  .graduates__title {
    font-size: 25px;
  }
  .graduates__back {
    display: none;
  }
  .graduates__link {
    margin: 40px auto 30px;
    font-size: 18px;
  }
  .voice-box {
    display: block;
  }
  .voice-box__card {
    width: 100%;
    margin: 0px;
  }
  .card {
    margin-bottom: 20px;
  }
  .card .skill-card__img--1, .card .skill-card__img--2, .card .skill-card__img--3, .card .card__img--1, .card .card__img--2, .card .card__img--3 {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 56.4%;
  }
  .card__img--1 {
    background: url("../img/index/17.png");
  }
  .card__img--2 {
    background: url("../img/index/18.png");
  }
  .card__img--3 {
    background: url("../img/index/19.png");
  }
  .card__message {
    font-size: 15px;
  }
  .charge-main-block-pc {
    display: none;
  }
  .charge-main-block-res {
    display: block;
    background-color: #e9f6f6;
    width: 95%;
    margin: 0 auto 20px;
    padding: 20px;
  }
  .charge-main-block-res__title {
    color: #5d5d5d;
    font-size: 22px;
  }
  .charge-main-block-res__title--icon {
    color: white;
    background-color: #ff8277;
    font-size: 27px;
    display: inline-block;
    width: 39px;
    height: 39px;
    border-radius: 100px;
    margin-right: 15px;
    text-align: center;
  }
  .charge-main-block-res__content {
    margin-top: 50px;
  }
  .charge-main-res-content {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 3px 3px #a3d3d3;
            box-shadow: 0 0 3px 3px #a3d3d3;
    border-radius: 5px;
    padding: 40px 5px 8px;
  }
  .charge-main-res-content__title {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
    background-color: #55bbbb;
    padding: 8px 0;
    border-radius: 6px;
    width: 50%;
    text-align: center;
  }
  .charge-main-res-content__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .charge-main-res-content__item:nth-child(odd) {
    background-color: #f2fcfc;
  }
  .charge-main-res-content__item--left {
    font-size: 13px;
    width: 40%;
    border-right: 1px solid black;
    padding: 10px 0;
  }
  .charge-main-res-content__item--right {
    font-size: 9px;
    width: 60%;
    padding: 10px 0;
  }
  .charge-main-res-content__item--right span {
    font-size: 15px;
  }
  .guarantee {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .guarantee__message {
    width: 100%;
    padding: 0 30px;
  }
  .guarantee__message--title {
    color: #ff8844;
    font-size: 27px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .guarantee__message--subtitle {
    font-size: 23px;
  }
  .guarantee__message--content {
    font-size: 15px;
  }
  .charge-reason {
    background-position: 0% 0%;
    background-size: contain;
    height: auto;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    z-index: -2;
  }
  .charge-reason__back {
    position: static;
    width: 100%;
    padding-top: 58.7%;
    background-color: #ffffff00;
  }
  .charge-reason::after {
    display: none;
  }
  .reason-message {
    width: 100%;
    background-color: #e9f6f6;
    margin-right: 0;
    padding: 20px 25px 30px;
  }
  .reason-message__title {
    font-size: 18px;
  }
  .reason-message__sub {
    font-size: 15px;
    padding: 10px 0;
  }
  .reason-message__text {
    font-size: 15px;
  }
  .message__title {
    font-size: 23px;
  }
  .message__charge--link {
    width: 240px;
    text-align: center;
    position: relative;
    margin: 20px auto;
    padding: 9px 0;
    background-color: #ecfafa;
    color: #55bbbb;
    border: 2px solid #55bbbb;
    border-radius: 100px;
    font-size: 21px;
  }
  .message__charge--arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .message-box {
    display: block;
    position: relative;
    padding-bottom: 60px;
  }
  .message-box__left {
    font-size: 15px;
  }
  .message-box__right {
    position: absolute;
    bottom: 24px;
    right: 40px;
    font-size: 43px;
    padding-left: 0px;
  }
  .question {
    margin: 50px 0 40px;
  }
  .question__link {
    font-size: 18px;
  }
  .title-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .title-box__icon {
    width: 38px;
    height: 38px;
    border-radius: 38px;
    line-height: 38px;
    margin-right: 10px;
    font-size: 23px;
  }
  .title-box__text {
    font-size: 23px;
  }
  .question-content {
    height: 48px;
  }
  .question-content__logo {
    font-size: 24px;
  }
  .question-content__text {
    font-size: 17px;
  }
  .answer-content {
    font-size: 15px;
  }
  .answer-content.open {
    opacity: 1;
    height: 100px;
    -webkit-transition: opacity 0.7s, height 0.7s;
    transition: opacity 0.7s, height 0.7s;
  }
  .news__title {
    font-size: 26px;
  }
  .news__content {
    padding: 0px;
    border: none;
  }
  .news-content-list {
    background-color: #f5f5f5;
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 5px;
    margin-bottom: 9px;
  }
  .news-content-list__day {
    margin-right: 5px;
    font-size: 13px;
    color: #676767;
  }
  .news-content-list__icon {
    background-color: #55bbbb;
    color: white;
    font-size: 12px;
    margin-right: 5px;
    padding: 5px 9px;
  }
  .news-content-list__text {
    font-size: 13px;
  }
}
/*# sourceMappingURL=index.css.map */