.question-topview {
  background: url("../img/question/main-QA-pc.png");
  background-size: cover;
  height: 314px;
  position: relative;
}

.question-topview__message {
  position: absolute;
  top: 50%;
  left: 100px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: white;
}

.question-topview__message--sub {
  font-size: 32px;
  text-shadow: 0 0 12px #0a0a0a;
}

.question-topview__message--main {
  font-size: 47px;
  text-shadow: 0 0 12px #0a0a0a;
}

.question {
  padding: 30px 0;
  background-color: #e9f6f6;
}

.question-box {
  max-width: 700px;
  width: 90%;
  margin: 0 auto;
}

.question-box__title {
  padding: 9px 0;
}

.question-box__subtitle {
  padding: 5px 0;
  font-size: 31px;
  color: #7a7a7a;
}

.question-box__content {
  margin: 12px 0;
}

.title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-box__icon {
  background-color: #ff8277;
  color: white;
  width: 63px;
  height: 63px;
  border-radius: 63px;
  line-height: 63px;
  text-align: center;
  margin-right: 10px;
  font-size: 42px;
}

.title-box__text {
  font-size: 36px;
  color: #707070;
}

.question-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 5px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question-content__logo {
  color: #55bbbb;
  font-size: 40px;
}

.question-content__text {
  font-size: 28px;
  color: #676767;
  width: 83%;
}

.question-content__button {
  width: 46px;
  height: 46px;
  color: white;
  text-align: center;
  line-height: 46px;
  background-color: #55bbbb;
}

.answer-content {
  padding: 2px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s, height 0.7s ease-out;
  transition: opacity 0.2s, height 0.7s ease-out;
}

.answer-content.open {
  opacity: 1;
  height: 150px;
  -webkit-transition: opacity 0.7s, height 0.7s;
  transition: opacity 0.7s, height 0.7s;
}

.answer-content__logo {
  color: #ff8277;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: white;
  font-size: 40px;
}

.answer-content__text {
  width: 92%;
  padding-right: 20px;
  font-size: 25px;
  color: #676767;
}

.pm-button {
  position: relative;
}

.pm-button__line1 {
  position: absolute;
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 30px;
  text-align: center;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.pm-button__line2 {
  position: absolute;
  width: 46px;
  height: 46px;
  line-height: 46px;
  font-size: 30px;
  text-align: center;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.pm-button.open .pm-button__line1 {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.pm-button.open .pm-button__line2 {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

@media screen and (max-width: 680px) {
  .question-topview {
    background: url("../img/question/main-QA-res.png");
    background-size: cover;
    background-position: bottom;
  }
  .question-topview__message {
    left: 15%;
  }
}
/*# sourceMappingURL=question.css.map */