.counseling-topview {
  padding: 90px 30px 0;
  height: 414px;
  background: url("../img/thanks/main-thanks-pc.png");
  background-position: right;
  color: white;
}

.counseling-topview__subtitle {
  font-size: 18px;
  margin-bottom: 9px;
  text-shadow: 0 0 15px black;
}

.counseling-topview__title {
  font-size: 32px;
  margin-bottom: 9px;
  text-shadow: 0 0 15px black;
}

.counseling-topview__caution {
  font-size: 13px;
  margin-bottom: 9px;
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  color: #5b5b5b;
}

.statistics__card {
  background-color: white;
  border-radius: 4px;
  text-align: center;
  width: 221px;
  margin-right: 9px;
  padding: 6px;
}

.statistics__card--big {
  font-size: 47px;
}

.statistics__card--small {
  font-size: 14px;
}

.step {
  max-width: 700px;
  width: 90%;
  margin: 40px auto 50px;
}

.step__caution {
  color: #d92f2f;
  font-size: 17px;
}

.step-box {
  position: relative;
  border: solid 2px #55bbbb;
  border-radius: 3px;
  padding: 50px 15px 30px;
}

.step-box__title {
  position: absolute;
  width: 132px;
  top: 0;
  left: 20px;
  font-size: 22px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #55bbbb;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 2px 0;
}

.step-box__text {
  line-height: 20px;
  font-size: 18px;
  color: #707070;
}

.step-box__text p {
  margin-bottom: 9px;
}

.step-box__line {
  width: 45%;
  max-width: 450px;
  margin: 12px auto 0;
  text-align: center;
  background-color: #06c755;
  padding: 8px 0;
  border-radius: 8px;
  color: white;
  font-size: 21px;
}

.confirm {
  background-color: #e9f6f6;
  padding: 40px 0 50px;
}

.confirm-box {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

.confirm-box__title {
  background-color: #55bbbb;
  border-radius: 3px;
  color: white;
  font-size: 22px;
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
  padding: 4px 0;
  font-size: 19px;
}

.confirm-box__list {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.confirm-box__list--column {
  width: 140px;
}

.confirm-box__list--data {
  color: #707070;
}

.counseling-flow {
  max-width: 960px;
  width: 90%;
  margin: 40px auto 30px;
}

.counseling-flow__title {
  font-size: 24px;
  margin-bottom: 50px;
}

.counseling-flow__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counseling-flow__content--chain {
  color: #55bbbb;
  width: 2%;
  text-align: center;
}

.flow-box {
  position: relative;
  padding: 60px 0 20px;
  border-radius: 4px;
  width: 32%;
  border: 2px solid #55bbbb;
}

.flow-box__title {
  position: absolute;
  display: table;
  color: white;
  font-size: 16px;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #55bbbb;
  text-align: center;
}

.flow-box__title--middle {
  display: table-cell;
  vertical-align: middle;
}

.flow-box__text {
  color: #707070;
  display: table;
  width: 100%;
  height: 60px;
  font-size: 17px;
  text-align: center;
}

.flow-box__text--middle {
  display: table-cell;
  vertical-align: middle;
}

.flow-box__img {
  max-width: 200px;
  width: 80%;
  background: url("../test.jpg");
  margin: 0 auto;
  padding-top: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 680px) {
  .statistics__card--big {
    font-size: 26px;
  }
  .statistics__card--small {
    font-size: 7px;
  }
  .confirm-box__list {
    font-size: 16px;
  }
  .counseling-topview {
    background: url("../img/thanks/main-thanks-res.png");
    background-size: cover;
    background-position: bottom;
    padding: 70px 5px 0;
  }
  .counseling-flow__title {
    text-align: center;
  }
  .counseling-flow__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .counseling-flow__content--chain {
    display: none;
  }
  .flow-box {
    width: 90%;
    margin: 40px auto;
  }
}
/*# sourceMappingURL=thanks.css.map */