* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}

/* header */
.header {
  & #drawer-nav {
    display: none;
  }
  & #menu {
    display: none;
  }
  display: flex;
  align-items: center;
  padding: 12px 18px;
  justify-content: space-between;
  box-shadow: 0 3px 5px 0 rgba(80, 78, 78, 0.945);
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 86px;
  background-color: rgb(255, 255, 255);
  z-index: 15;
  &__logo {
    background: url("../img/logo.png");
    width: 235px;
    padding-top: 13.6%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__nav {
    font-size: 20px;
    width: 70%;
    color: #8d8d8d;
    & ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    & a {
      margin-left: 35px;
    }
    & a:nth-last-child(1) {
      padding: 10px;
      border-radius: 200px;
      color: white;
      background: linear-gradient(90deg, #5dbdac, #75c17f);
    }
  }
}

/* main */
main {
  padding-top: 86px; /*headerの高さ*/
}

.footer {
  background-color: #ecefef;
  padding: 40px 0 20px;
  color: #6a6a6a;
  &__copyright {
    text-align: center;
  }
}
.footer-box {
  max-width: 600px;
  width: 90%;
  display: flex;
  margin: 0 auto 20px;
  font-size: 20px;
  border-left: 1px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
  & a {
    line-height: 40px;
  }
  & ul {
    list-style: none;
  }
  &__left {
    width: 50%;
    padding: 5px 8px;
    border-right: 1px solid #9a9a9a;
  }
  &__right {
    width: 50%;
    padding: 5px 8px;
  }
  &__copyright {
    font-size: 18px;
  }
}

@media screen and (max-width: 1120px) {
  .header {
    &__nav {
      display: none;
    }
    & #menu {
      display: inline-block;
      width: 36px;
      height: 32px;
      cursor: pointer;
      position: relative;
      z-index: 16;
      %__line {
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: #000;
        position: absolute;
        transition: 0.5s;
      }
      &__top {
        @extend %__line;
        top: 0;
      }
      &__middle {
        @extend %__line;
        top: 14px;
      }
      &__bottom {
        @extend %__line;
        bottom: 0;
      }
      &.open {
        & span:nth-of-type(1) {
          top: 14px;
          transform: rotate(45deg);
        }
        & span:nth-of-type(2) {
          opacity: 0;
        }
        & span:nth-of-type(3) {
          top: 14px;
          transform: rotate(-45deg);
        }
      }
    }
    & #drawer-nav {
      display: block;
      position: absolute;
      height: 100vh;
      width: 100%;
      top: 0;
      left: -100%;
      background: #fff;
      transition: 0.7s;
      &__box {
        position: absolute;
        max-width: 338px;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & a:nth-last-child(1) {
          & .drawer-nav__list {
            padding: 10px;
            border-radius: 200px;
            color: white;
            background: linear-gradient(90deg, #5dbdac, #75c17f);
          }
        }
      }
    }
    & .in {
      transform: translateX(100%);
    }
    & .drawer-nav__list {
      text-align: center;
      font-size: 20px;
      color: #8d8d8d;
      margin: 18% 0;
    }
  }
}
.application {
  height: 372px;
  background: url("../img/CTA.png");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.application-box {
  max-width: 952px;
  width: 90%;
  text-align: center;
  &__title {
    font-size: 34px;
    color: white;
    padding-bottom: 20px;
  }
  &__link {
    max-width: 551px;
    background-color: white;
    margin: 0 auto;
    border-radius: 100px;
    width: 90%;
    font-size: 27px;
    color: #5d5d5d;
    padding: 13px 0;
    box-shadow: 0 0 5px rgb(138, 138, 138);
  }
}

@media screen and (max-width: 680px) {
  .footer-box {
    border: none;
    font-size: 12px;
  }
}
