.graduates-topview {
  background: url("../img/graduates/main-graduate-pc.png");
  background-size: cover;
  background-position: bottom;
  height: 314px;
  position: relative;
  &__message {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    color: white;
    &--sub {
      font-size: 32px;
      text-shadow: 0 0 12px rgb(10, 10, 10);
    }
    &--main {
      font-size: 47px;
      text-shadow: 0 0 12px rgb(10, 10, 10);
    }
  }
}

.voice {
  background-color: #e9f6f6;
  padding: 80px 0;
}
.voice-box {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__card {
    width: 31%;
    margin: 5px;
  }
}
.card {
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 3px 2px #55bbbb;
  background-color: white;
  &__img {
    height: 100px;
    padding-top: 60%;
    &.img1 {
      background: url("../img/graduates/interview_img-1.png");
      background-size: cover;
      background-position: center;
    }
    &.img2 {
      background: url("../img/graduates/interview_img-2.png");
      background-size: cover;
      background-position: center;
    }
    &.img3 {
      background: url("../img/graduates/interview_img-3.png");
      background-size: cover;
      background-position: center;
    }
  }
  &__message {
    padding-top: 9px;
    color: #6b6a6a;
    font-size: 16px;
  }
}

.application {
  height: 372px;
  background: url("../img/CTA.png");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.application-box {
  max-width: 952px;
  width: 90%;
  text-align: center;
  &__title {
    font-size: 34px;
    color: white;
    padding-bottom: 20px;
  }
  &__link {
    max-width: 551px;
    background-color: white;
    margin: 0 auto;
    border-radius: 100px;
    width: 90%;
    font-size: 26px;
    color: #5d5d5d;
    padding: 13px 0;
  }
}
@media screen and (max-width: 680px) {
  .graduates-topview {
    background: url("../img/graduates/main-graduate-res.png");
    background-size: cover;
    background-position: bottom;
    &__message {
      left: 15%;
    }
  }
  .voice-box {
    &__card {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
