* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}

/* header */
.header {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  justify-content: space-between;
  box-shadow: 0 3px 5px 0 rgba(80, 78, 78, 0.945);
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 86px;
  background-color: rgb(255, 255, 255);
  z-index: 15;
  &__nav {
    font-size: 20px;
    width: 70%;
    color: #8d8d8d;
    & ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    & a {
      margin-left: 35px;
    }
    & a:nth-last-child(1) {
      padding: 10px;
      border-radius: 200px;
      color: white;
      background: linear-gradient(90deg, #5dbdac, #75c17f);
    }
  }
}

/* main */
main {
  padding-top: 65px; /*headerの高さ*/
}

.graduate-topview {
  background: url("../img/graduates/main-graduate-pc.png");
  background-size: cover;
  background-position: bottom;
  height: 314px;
  position: relative;
  &__message {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    color: white;
    &--sub {
      font-size: 32px;
      text-shadow: 0 0 12px rgb(10, 10, 10);
    }
    &--main {
      font-size: 47px;
      text-shadow: 0 0 12px rgb(10, 10, 10);
    }
  }
}

.content {
  padding-top: 50px;
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  color: #323232;
  overflow-wrap: break-word;
  &__title {
    font-size: 32px;
    padding-bottom: 20px;
  }
  &__img {
    padding-top: 60%;
    margin-bottom: 30px;
    &.img1 {
      background: url("../img/graduates/interview_img-2.png");
      background-size: cover;
      background-position: center;
    }
    &.img2 {
      background: url("../img/graduates/interview_img-1.png");
      background-size: cover;
      background-position: center;
    }
  }
  &__profile {
    background-color: #f3fefe;
    padding: 15px 30px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  &__theme {
    margin-bottom: 50px;
  }
  &__subtheme {
    margin-bottom: 30px;
    transform: translateX(13px);
  }
  &__text {
    font-size: 16px;
    & p {
      margin-bottom: 30px;
    }
  }
}

.theme-box {
  background: linear-gradient(90deg, #5dbdac, #75c17f);
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 9px;
  &__number {
    width: 54px;
    height: 54px;
    background-color: white;
    border-radius: 100px;
    text-align: center;
    color: #55bbbb;
    line-height: 54px;
    font-size: 28px;
  }
  &__text {
    color: white;
    padding-left: 8px;
    font-size: 28px;
  }
}

.subtheme-box {
  width: calc(100% - 24px);
  display: flex;
  align-items: center;
  align-items: center;
  padding: 0px 20px 9px;
  position: relative;
  border-bottom: 1px solid #55bbbb;
  border-left: 1px solid #55bbbb;
  &__number {
    position: absolute;
    top: 50%;
    left: 0;
    width: 48px;
    height: 48px;
    background-color: #55bbbb;
    color: white;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    border-radius: 100px;
    transform: translate(-50%, -70%);
  }
  &__text {
    font-size: 24px;
    padding-left: 25px;
  }
}

.application {
  height: 200px;
  background: url("../test.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.application {
  height: 372px;
  background: url("../img/CTA.png");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.application-box {
  max-width: 952px;
  width: 90%;
  text-align: center;
  &__title {
    font-size: 34px;
    color: white;
    padding-bottom: 20px;
  }
  &__link {
    max-width: 551px;
    background-color: white;
    margin: 0 auto;
    border-radius: 100px;
    width: 90%;
    font-size: 26px;
    color: #5d5d5d;
    padding: 13px 0;
  }
}

.graduates {
  background-color: #e9f6f6;
  padding: 40px 0;
  &__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
  }
}

.voice-box {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__card {
    width: 31%;
    margin: 5px;
  }
}
.card {
  padding: 10px;
  box-shadow: 0 0 5px 2px #55bbbb;
  background-color: white;
  &__img {
    height: 100px;
    padding-top: 60%;
    &.img1 {
      background: url("../img/graduates/interview_img-1.png");
      background-size: cover;
      background-position: center;
    }
    &.img2 {
      background: url("../img/graduates/interview_img-2.png");
      background-size: cover;
      background-position: center;
    }
    &.img3 {
      background: url("../img/graduates/interview_img-3.png");
      background-size: cover;
      background-position: center;
    }
  }
  &__message {
    padding-top: 9px;
    color: #6b6a6a;
    font-size: 16px;
  }
}

.footer {
  background-color: #ecefef;
  padding: 40px 0 20px;
  color: #6a6a6a;
  &__copyright {
    text-align: center;
  }
}
.footer-box {
  max-width: 600px;
  width: 90%;
  display: flex;
  margin: 0 auto 20px;
  font-size: 20px;
  & a {
    line-height: 40px;
  }
  & ul {
    list-style: none;
  }
  &__left {
    width: 50%;
    padding: 5px 8px;
    border-right: 1px solid #9a9a9a;
    border-left: 1px solid #9a9a9a;
  }
  &__right {
    width: 50%;
    padding: 5px 8px;
    border-right: 1px solid #9a9a9a;
  }
  &__copyright {
    font-size: 18px;
  }
}
