@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

/* header */
.header {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  justify-content: space-between;
  box-shadow: 0 3px 5px 0 rgba(80, 78, 78, 0.945);
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 86px;
  background-color: white;
  z-index: 15;
}

.header__nav {
  font-size: 20px;
  width: 70%;
  color: #8d8d8d;
}

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__nav a {
  margin-left: 35px;
}

.header__nav a:nth-last-child(1) {
  padding: 10px;
  border-radius: 200px;
  color: white;
  background: linear-gradient(90deg, #5dbdac, #75c17f);
}

/* main */
main {
  padding-top: 65px;
  /*headerの高さ*/
}

.graduates-topview {
  background: url("../img/graduates/main-graduate-pc.png");
  background-size: cover;
  background-position: bottom;
  height: 314px;
  position: relative;
}

.graduates-topview__message {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  color: white;
}

.graduates-topview__message--sub {
  font-size: 32px;
  text-shadow: 0 0 12px #0a0a0a;
}

.graduates-topview__message--main {
  font-size: 47px;
  text-shadow: 0 0 12px #0a0a0a;
}

.voice {
  background-color: #e9f6f6;
  padding: 80px 0;
}

.voice-box {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.voice-box__card {
  width: 31%;
  margin: 5px;
}

.card {
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 3px 2px #55bbbb;
  background-color: white;
}

.card__img {
  height: 100px;
  padding-top: 60%;
}

.card__img.img1 {
  background: url("../img/graduates/interview_img-1.png");
  background-size: cover;
  background-position: center;
}

.card__img.img2 {
  background: url("../img/graduates/interview_img-2.png");
  background-size: cover;
  background-position: center;
}

.card__img.img3 {
  background: url("../img/graduates/interview_img-3.png");
  background-size: cover;
  background-position: center;
}

.card__message {
  padding-top: 9px;
  color: #6b6a6a;
  font-size: 16px;
}

.application {
  height: 372px;
  background: url("../img/CTA.png");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.application-box {
  max-width: 952px;
  width: 90%;
  text-align: center;
}

.application-box__title {
  font-size: 34px;
  color: white;
  padding-bottom: 20px;
}

.application-box__link {
  max-width: 551px;
  background-color: white;
  margin: 0 auto;
  border-radius: 100px;
  width: 90%;
  font-size: 26px;
  color: #5d5d5d;
  padding: 13px 0;
}

.footer {
  background-color: #ecefef;
  padding: 40px 0 20px;
  color: #6a6a6a;
}

.footer__copyright {
  text-align: center;
}

.footer-box {
  max-width: 600px;
  width: 90%;
  display: flex;
  margin: 0 auto 20px;
  font-size: 20px;
}

.footer-box a {
  line-height: 40px;
}

.footer-box ul {
  list-style: none;
}

.footer-box__left {
  width: 50%;
  padding: 5px 8px;
  border-right: 1px solid #9a9a9a;
  border-left: 1px solid #9a9a9a;
}

.footer-box__right {
  width: 50%;
  padding: 5px 8px;
  border-right: 1px solid #9a9a9a;
}

.footer-box__copyright {
  font-size: 18px;
}
