.graduate-topview {
  background: url("../img/graduates/main-graduate-pc.png");
  background-size: cover;
  background-position: bottom;
  height: 314px;
  position: relative;
}

.graduate-topview__message {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  color: white;
}

.graduate-topview__message--sub {
  font-size: 32px;
  text-shadow: 0 0 12px #0a0a0a;
}

.graduate-topview__message--main {
  font-size: 47px;
  text-shadow: 0 0 12px #0a0a0a;
}

.content {
  padding-top: 50px;
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  color: #323232;
  overflow-wrap: break-word;
}

.content__title {
  font-size: 32px;
  padding-bottom: 20px;
}

.content__img {
  padding-top: 60%;
  margin-bottom: 30px;
}

.content__img.img1 {
  background: url("../img/graduates/interview_img-2.png");
  background-size: cover;
  background-position: center;
}

.content__img.img2 {
  background: url("../img/graduates/interview_img-1.png");
  background-size: cover;
  background-position: center;
}

.content__profile {
  background-color: #f3fefe;
  padding: 15px 30px;
  margin-bottom: 30px;
  font-size: 16px;
}

.content__theme {
  margin-bottom: 50px;
}

.content__subtheme {
  margin-bottom: 30px;
  transform: translateX(13px);
}

.content__text {
  font-size: 16px;
}

.content__text p {
  margin-bottom: 30px;
}

.theme-box {
  background: linear-gradient(90deg, #5dbdac, #75c17f);
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 9px;
}

.theme-box__number {
  width: 54px;
  height: 54px;
  background-color: white;
  border-radius: 100px;
  text-align: center;
  color: #55bbbb;
  line-height: 54px;
  font-size: 28px;
}

.theme-box__text {
  color: white;
  padding-left: 8px;
  font-size: 28px;
}

.subtheme-box {
  width: calc(100% - 24px);
  display: flex;
  align-items: center;
  align-items: center;
  padding: 0px 20px 9px;
  position: relative;
  border-bottom: 1px solid #55bbbb;
  border-left: 1px solid #55bbbb;
}

.subtheme-box__number {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background-color: #55bbbb;
  color: white;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  border-radius: 100px;
  transform: translate(-50%, -30%);
}

.subtheme-box__text {
  font-size: 24px;
  padding-left: 25px;
}

.application {
  height: 200px;
  background: url("../test.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.application {
  height: 372px;
  background: url("../img/CTA.png");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.application-box {
  max-width: 952px;
  width: 90%;
  text-align: center;
}

.application-box__title {
  font-size: 34px;
  color: white;
  padding-bottom: 20px;
}

.application-box__link {
  max-width: 551px;
  background-color: white;
  margin: 0 auto;
  border-radius: 100px;
  width: 90%;
  font-size: 26px;
  color: #5d5d5d;
  padding: 13px 0;
}

.graduates {
  background-color: #e9f6f6;
  padding: 40px 0;
}

.graduates__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.voice-box {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.voice-box__card {
  width: 31%;
  margin: 5px;
}

.card {
  padding: 10px;
  box-shadow: 0 0 5px 2px #55bbbb;
  background-color: white;
}

.card__img {
  height: 100px;
  padding-top: 60%;
}

.card__img.img1 {
  background: url("../img/graduates/interview_img-1.png");
  background-size: cover;
  background-position: center;
}

.card__img.img2 {
  background: url("../img/graduates/interview_img-2.png");
  background-size: cover;
  background-position: center;
}

.card__img.img3 {
  background: url("../img/graduates/interview_img-3.png");
  background-size: cover;
  background-position: center;
}

.card__message {
  padding-top: 9px;
  color: #6b6a6a;
  font-size: 16px;
}

@media screen and (max-width: 680px) {
  .voice-box__card {
    width: 100%;
    margin-bottom: 30px;
  }
}
