.price-topview {
  background: url("../img/price/main-course-pc.png");
  background-size: cover;
  height: 314px;
  position: relative;
  &__message {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    color: white;
    text-shadow: 0 0 15px black;
    &--sub {
      font-size: 32px;
    }
    &--main {
      font-size: 47px;
    }
  }
}

.service {
  padding: 80px 0 40px;
  background-color: #e9f6f6;
}
.service-box {
  width: 90%;
  max-width: 837px;
  padding: 50px 40px 30px;
  margin: 0 auto;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__title {
    position: absolute;
    padding: 7px 47px;
    color: white;
    font-size: 30px;
    background: linear-gradient(90deg, #5dbdac, #75c17f);
    border-radius: 100px;
    top: 0;
    left: 40px;
    transform: translateY(-50%);
  }

  &__content {
    width: 43%;
    padding: 12px 0;
    color: #707070;
    &--main {
      font-size: 24px;
    }
    &--sub {
      font-size: 16px;
    }
  }
}

.guarantee-block {
  padding: 90px 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 200px solid #ff8844;
    border-right: 70px solid transparent;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 200px solid #fad723;
    border-left: 70px solid transparent;
  }
}

.guarantee {
  margin: 0 auto;
  max-width: 1128px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__circle {
    width: 221px;
    height: 221px;
    position: relative;
    text-align: center;
    background: linear-gradient(135deg, #ff8844, #f9dc20);
    border-radius: 221px;
    font-size: 27px;
    & p {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      line-height: 50px;
    }
    &--big {
      font-size: 52px;
      & span {
        font-size: 72px;
      }
    }
  }
  &__message {
    width: 70%;
    padding: 0 30px;
    &--title {
      color: #ff8844;
      font-size: 36px;
      padding-bottom: 20px;
    }
    &--subtitle {
      color: #676767;
      font-size: 26px;
      padding-bottom: 20px;
    }
    &--content {
      color: #676767;
      font-size: 22px;
    }
  }
}

.freelance-top {
  padding: 45px 0;
  background-color: #55bbbb;
}

.freelance-top-box {
  position: relative;
  width: 90%;
  max-width: 1028px;
  background-color: white;
  padding: 36px 0 10px;
  margin: 0 auto;
  color: #707070;

  &__title {
    font-size: 32px;
    padding: 8px 0;
    text-align: center;
  }

  &__back-title {
    position: absolute;
    top: 0;
    left: 10px;
    color: #55bbbb;
    opacity: 0.1;
    font-size: 69px;
    line-height: 56px;
  }

  &__subtitle {
    font-size: 16px;
    max-width: 235px;
    width: 60%;
    margin: 0 auto;
    padding: 5px 0;
    background-color: #55bbbb;
    color: white;
    border-radius: 100px;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
  }
}

.hole-card {
  width: 40%;
  border: 1px solid #55bbbb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  margin: 10px;

  &__hole {
    width: 9px;
    height: 9px;
    background-color: #55bbbb;
    border-radius: 10px;
  }

  &__message {
    width: 80%;
  }
}

.freelance-detail {
  padding: 70px 0 40px;
  background-color: #e9f6f6;
  display: flex;
  justify-content: center;
}

.freelance-detail-card {
  width: 23%;
  max-width: 295px;
  position: relative;
  margin: 0 4px;

  %__title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    font-size: 24px;
    vertical-align: middle;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    & .bigger {
      font-size: 39px;
    }
  }
  %__before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(94%);
    border-top: 29.5px solid transparent;
    border-bottom: 29.5px solid transparent;
  }
  %__after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-94%);
    border-left: 10px solid transparent;
  }
  &__title {
    &--1 {
      @extend %__title;
      background-color: #55bbbb;
      &::before {
        @extend %__before;
        border-left: 10px solid #55bbbb;
      }
      &::after {
        @extend %__after;
        border-top: 29.5px solid #55bbbb;
        border-bottom: 29.5px solid #55bbbb;
      }
    }
    &--2 {
      @extend %__title;
      background-color: #5fbda9;
      &::before {
        @extend %__before;
        border-left: 10px solid #5fbda9;
      }
      &::after {
        @extend %__after;
        border-top: 29.5px solid #5fbda9;
        border-bottom: 29.5px solid #5fbda9;
      }
    }
    &--3 {
      @extend %__title;
      background-color: #68bf97;
      &::before {
        @extend %__before;
        border-left: 10px solid #68bf97;
      }
      &::after {
        @extend %__after;
        border-top: 29.5px solid #68bf97;
        border-bottom: 29.5px solid #68bf97;
      }
    }
    &--4 {
      @extend %__title;
      background-color: #75c17f;
      &::before {
        @extend %__before;
        border-left: 10px solid #75c17f;
      }
      &::after {
        @extend %__after;
        border-top: 29.5px solid #75c17f;
        border-bottom: 29.5px solid #75c17f;
      }
    }
  }
  &__content {
    background-color: white;
    padding: 60px 15px 15px;
    border-radius: 6px;
  }

  %__bottom {
    text-align: center;
    padding: 15px 0;
    color: white;
    border-radius: 6px;
    font-size: 24px;
    margin-top: 8px;
  }
  &__bottom {
    &--1 {
      @extend %__bottom;
      background-color: #55bbbb;
    }
    &--2 {
      @extend %__bottom;
      background-color: #5fbda9;
    }
    &--3 {
      @extend %__bottom;
      background-color: #68bf97;
    }
    &--4 {
      @extend %__bottom;
      background-color: #75c17f;
    }
  }
}

.freelance-content {
  &--study {
    height: 180px;
  }
  &--support {
    height: 180px;
  }
  &--term {
    height: 70px;
  }
  &__title {
    color: #55bbbb;
    font-size: 20px;
    margin-bottom: 5px;
  }
  &__list {
    font-size: 16px;
    color: #707070;
    list-style-position: inside;
  }
}

.charge {
  width: 600px;
  margin: 0 auto;
  padding: 10px 0 30px;
  &__title {
    text-align: center;
    &--main {
      color: rgb(59, 141, 114);
      font-size: 14px;
      padding: 6px 0;
    }
    &--sub {
      font-size: 23px;
      padding: 6px 0 17px;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  &__attention {
    padding-top: 9px;
    font-size: 12px;
  }
}

.charge-box {
  &--small {
    position: relative;
    padding: 30px 7px 8px;
    width: 120px;
    background-color: aquamarine;
    margin: 0 2px;
  }
  &--big {
    position: relative;
    padding: 30px 7px 8px;
    width: 230px;
    background-color: aquamarine;
    margin: 0 2px;
  }
  &__title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: cadetblue;
  }
  &__item {
    &:nth-last-child(2n + 1) {
      background-color: aliceblue;
    }
  }
}
