* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}

/* header */
header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  box-shadow: 0 3px 5px 0 rgba(218, 21, 21, 0.945);
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 65px;
  background-color: rgb(255, 255, 255);
}
header ul {
  list-style: none;
  display: flex;
}
header li {
  padding: 10px;
  margin-left: 20px;
}
header li:nth-last-child(1) {
  border-radius: 200px;
  background-color: aquamarine;
}

/* main */
main {
  padding-top: 65px; /*headerの高さ*/
}

.question-topview {
  background: url("../test.jpg");
  background-size: cover;
  height: 180px;
  position: relative;

  &__message {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    color: white;

    &--sub {
      font-size: 20px;
    }

    &--main {
      font-size: 30px;
    }
  }
}

.question {
  padding: 30px 0;
  background-color: aquamarine;
}
.question-box {
  width: 700px;
  margin: 0 auto;
  &__title {
    padding: 9px 0;
  }
  &__subtitle {
    padding: 5px 0;
  }
  &__content {
    margin: 12px 0;
  }
}
.title-box {
  display: flex;
  &__icon {
    background-color: coral;
    color: white;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    line-height: 24px;
    text-align: center;
    margin-right: 10px;
  }
  &__text {
    font-size: 18px;
  }
}
.question-content {
  display: flex;
  background-color: aliceblue;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  &__logo {
    color: aquamarine;
    font-size: 24px;
  }
  &__text {
    font-size: 20px;
    width: 90%;
  }
  &__button {
    width: 22px;
    height: 22px;
    color: white;
    text-align: center;
    line-height: 22px;
    background-color: aquamarine;
  }
}
.answer-content {
  padding: 2px;
  justify-content: space-between;
  display: flex;
  height: 0;
  opacity: 0;
  transition: opacity 0.2s, height 0.7s ease-out;
  &.open {
    opacity: 1;
    height: 80px;
    transition: opacity 0.7s, height 0.7s;
  }
  &__logo {
    color: coral;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: aliceblue;
    font-size: 20px;
  }
  &__text {
    width: 92%;
    padding-right: 20px;
  }
}

.pm-button {
  position: relative;
  &__line1 {
    position: absolute;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    transform: rotateZ(0deg);
    transition: transform 0.7s;
  }
  &__line2 {
    position: absolute;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    transform: rotateZ(90deg);
    transition: transform 0.7s;
  }
  &.open {
    & .pm-button__line1 {
      transform: rotateZ(180deg);
      transition: transform 0.7s;
    }
    & .pm-button__line2 {
      transform: rotateZ(180deg);
      transition: transform 0.7s;
    }
  }
}

.application {
  height: 200px;
  background: url("../test.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.application-box {
  &__message {
    color: white;
    font-size: 23px;
    padding: 12px 0;
  }
  &__link {
    width: 300px;
    margin: 0 auto;
    padding: 7px 0px;
    display: block;
    margin-top: 10px;
    background-color: aliceblue;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.603);
    border-radius: 100px;
  }
}

.footer {
  background-color: darkgray;
  padding: 30px;
  &__copyright {
    text-align: center;
  }
}
.footer-box {
  width: 420px;
  display: flex;
  margin: 0 auto 20px;
  & ul {
    list-style: none;
  }
  &__left {
    width: 50%;
    padding: 5px 8px;
    border-right: 1px solid rgb(104, 97, 97);
    border-left: 1px solid rgb(104, 97, 97);
  }
  &__right {
    padding: 5px 8px;
    border-right: 1px solid rgb(104, 97, 97);
    width: 50%;
  }
}
